body {
    font-family: 'Titillium Web', sans-serif;
    background: #f1f1f1;
}

.cmain {
    background-color: #fff;
}

header {
    padding-top: 40px;
}

#testimonial {
    text-align: center;
}

.bg-dk {
    padding: 50px 0 30px 0;
    background: #f1f1f1;
    margin-top: 40px;
}

a.carousel-control-next, a.carousel-control-prev {
    background-color: #0f0f0f !important;
}

/* social icons */

.social_tab .social_icons {
    display: flex;
    justify-content: center;
}

.social_tab .social_icons li {
    color: #fff;
    display: inline;
}

.social_tab .social_icons li i {
    border-radius: 1em;
    color: #fff;
    font-size: .85em;
    height: 2em;
    width: 2em;
    line-height: 2.2em;
    text-align: center;
    margin: 10px;
}

.social_tab .social_icons li i:hover {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -o-transform: translateY(-5px);
    transform: translateY(-5px);
    -webkit-transition: 0.2s;
    -ms-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}